html, body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #eee;
  font-family: Helvetica, Arial;
}

.selected {
  background: red !important;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.board {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.row {
  display: flex;
}

.tile {
  padding: 5px;
  margin: 2px;
  min-width: 1em;
  min-height: 1em;
  background: #333;
  border-radius: 5px;
  text-align: center;
  font-size: 1.8em;
  color: black;
}

.tile.active {
  background: goldenrod;
}

.tile.active.valid {
  background: green;
}

.tile.base {
  color: white;
}

.hand {
  display: flex;
  justify-content: center;
}

.hand .tile {
  background: goldenrod;
}

.enemy {
  width: 20px;
  height: 20px;
  background: green;
}
