html, body {
  margin: 0;
  padding: 0;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.row {
  display: flex;
}

.tile {
  padding: 5px;
  margin: 2px;
  min-width: 0.7em;
  min-height: 0.7em;
  background: #D6D6D6;
  border-radius: 5px;
}

.tile.active {
  background: goldenrod;
}

.hand {
  display: flex;
  justify-content: center;
}

.hand .tile {
  background: goldenrod;
}